/* Reset */
*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/*---------------
   Global Styles 
----------------*/

body {
    align-items: center;
    background-color: #ECF2F8;
    display: grid;
    font-family: 'Manrope', sans-serif;
    justify-content: center;
}

img {
    display: block;
    width: 100%;
}

/*-------------
   Typography 
-------------*/

h1, b {
    color: #48556A;
    font-weight: 700;
}

h1 {
    font-size: 1rem;
    letter-spacing: .2px;
    line-height: 1.5rem;
}

p {
    color: #6E8098;
    font-size: .813rem;
    font-weight: 500;
    letter-spacing: .12px;
    line-height: 1.25rem;
}

.date {
    color: #9DAEC2;
}

/*-----------------
   Global Styles 
-----------------*/

